<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skillbox.a07_fragments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.07_Fragments">
        <activity
            android:name="com.skillbox.examples.BottomNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.skillbox.examples.TabbedActivity"
            android:exported="true"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.07_Fragments.NoActionBar"/>
        <activity
            android:name="com.skillbox.navigation.NavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.07_Fragments.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
